server:
  port: 8080
spring:
  application:
    name: tracking
  datasource:
    url: jdbc:postgresql://localhost:5432/jiujitsu_db
    username: jiujitsu_user
    password: jiujitsu_password
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: never
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://tpltengabmlhpkhdmqbm.supabase.co/auth/v1
          audiences: authenticated


springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
    displayRequestDuration: true
logging:
  level:
    org.springframework.security: TRACE
